body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    justify-content: center;
}

.header {
    margin-top: 10px;
    text-align: center;
    height: 60px;
    font-size: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    margin-left: 40px

}
h1 {
   
}
#add-book {
    margin-left: auto;
    margin-right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: lightgreen;
    color:white;
    font-size: 30px;
    border-width: 1px;
}
.library-container {
    border: solid 10px black;
    min-height: 600px;
    min-width: 500px;
    display: flex;
    
}
.books {
    
   margin-left: 5%;
   margin-right: 5%;
    display: flex;
    min-width: 500px;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.book {
    
    min-width: 200px;
    height: 200px;
    
    border: solid blue 5px;
}
.popup {
    position: fixed;
    height: 250px;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: solid 4px gray;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
}
.popup.active {
    transform: translate(-50%, -50%) scale(1);
}
.popup-header {
    text-align: center;
    margin-top: 7px;
    font-size: 25px;
}

.overlay {
    position:fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.overlay.active {
    pointer-events: all;
    opacity: 70%;
}

form {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    gap: 60px
}

.labels {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;

}
.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#read {
    margin-right: auto;
}